// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

// => Application Layout
.application {
  opacity: 1;

  .sidenav-header {
    padding: 2rem 0;
    & > a {
      display: inline-flex;
    }
  }

  .sidenav-user {
    height: auto;
    gap: 48px;
  }
}

// => Actions
.action-item {
  display: inline-flex;
}

// => Buttons
.btn {
  font-weight: 400;
}

// => Navbar
.navbar-nav .nav-link {
  font-weight: 400;
}
