// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

//
// ==> em classes for icons
//
@for $i from 1 through 10 {
  .fs-#{$i}x {
    font-size: #{$i}em;
  }
}

// => Application Layout
.application {
  opacity: 1;

  .sidenav-header {
    padding: 2rem 0;
    & > a {
      display: inline-flex;
    }
  }

  .sidenav-user {
    height: auto;
    gap: 48px;
  }
}

// => Actions
.action-item {
  display: inline-flex;
}

// => Buttons
.btn {
  font-weight: 400;
}

.btn-inner--icon {
  & > svg {
    width: 1em;
    height: 1em;
  }
}

// => Navbar
.navbar-nav .nav-link {
  font-weight: 400;
}
.nav-application {
  & > .btn {
    width: (($navbar-vertical-open-width / 2) - 12) !important;
    height: (($navbar-vertical-open-width / 2) - 12) !important;
  }
}

.nav-item {
  &:first-of-type {
    .nav-link {
      padding-left: 0;
    }
  }
  &:last-of-type {
    .nav-link {
      padding-right: 0;
    }
  }
}

// => Dropdowns
.dropdown-toggle {
  display: inline-flex;

  &::after {
    content: "";
    width: 8px;
    height: 1lh;
    display: inline-block;
    background-image: url("/images/icons/fa/angle-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }
}

.dropdown-submenu > .dropdown-item::after,
.dropdown-submenu > .list-group-item::after {
}

.dropdown-submenu {
  > .dropdown-item,
  > .list-group-item {
    &::after {
      content: "";
      background-image: url("/images/icons/fa/angle-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: auto;
    }
  }
}
